# Environment-based settings; copy this file to .env in project root and edit as needed

# Whether the application runs in debug mode or not
DEBUG=true

# Set a unique secret key for the project, required for running outside DEBUG mode
SECRET_KEY=

# Database URL to use
DATABASE_URL=

# Log level (default is INFO, DEBUG is very verbose)
LOG_LEVEL=INFO

# Allowed hosts (list of comma-separated hostnames, or asterisk to match all hosts), only needed if DEBUG is false
ALLOWED_HOSTS=

# E-mail backend to use, defaults to "smtp" if DEBUG is false, and "console" if DEBUG is true
EMAIL_BACKEND=console