# Environment-based settings; copy this file to .env in project root and edit as needed

# Whether the application runs in debug mode or not
DEBUG=true

# Set a unique secret key for the project, required for running outside DEBUG mode
SECRET_KEY=

# Database URL to use
DATABASE_URL=

# Database details for postgres container
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=
LOCAL_DB_PORT=
DB_SERVER=

# Ports for web container
WEB_PORT=
LOCAL_WEB_PORT=
WEB_SERVER=

# Log level (default is INFO, DEBUG is very verbose)
LOG_LEVEL=INFO

# Allowed hosts (list of comma-separated hostnames, or asterisk to match all hosts), only needed if DEBUG is false
ALLOWED_HOSTS=

# E-mail backend to use, defaults to "smtp" if DEBUG is false, and "console" if DEBUG is true
EMAIL_BACKEND=console

# Django superuser details
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=