{% extends 'base.html' %}

{% block title %}<title>{{ user.get_username }}</title>{% endblock %}

{% block content %}
<form action="{% url 'accounts:password_change' %}" method="post">
  {% csrf_token %}
  <div class="form-floating">
    <input type="password" name="old_password" class="form-control" id="floatingInput1" placeholder="Old password" required>
    <label for="floatingInput1">Old password</label>
  </div>
  <div class="form-floating">
    <input type="password" name="new_password1" class="form-control" id="floatingInput2" placeholder="Enter new password" required>
    <label for="floatingInput2">Enter new password</label>
  </div>
  <div class="form-floating">
    <input type="password" name="new_password2" class="form-control" id="floatingInput3" placeholder="Confirm new password" required>
    <label for="floatingInput3">Confirm new password</label>
  </div>
  <div class="d-flex flex-row flex-nowrap ml-auto mr-sm-5 mr-md-5 mr-lg-0">
    <button class="w-100 btn btn-lg btn-secondary" type="submit">Update password</button>
    <button class="w-100 btn btn-lg btn-secondary" onclick="location.href='{% url 'accounts:profile' %}'" type="button">Cancel</button>
  </div>
</form>

{% endblock %}
