{% extends 'base_accounts.html' %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block content %}
{% if validlink %}
  <form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
    <div class="form-floating">
      <input type="password" name="new_password1" class="form-control" id="floatingPassword1" placeholder="Password" required>
      <label for="floatingPassword1">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" name="new_password2" class="form-control" id="floatingPassword2" placeholder="Password confirmation" required>
      <label for="floatingPassword2">Password confirmation</label>
    </div>
    <button class="w-100 btn btn-lg btn-secondary" type="submit">Confirm</button>
  </form>
{% else %}
  <p class="white mb-0">
    <br>The password reset link was invalid, possibly because it has already been used.
    <br>Please request a new
    <a href="{% url 'accounts:reset_password' %}" class="white">reset request</a>.
  </p>
{% endif %}
<p class="mt-5 mb-3 text-muted">&copy; {% now 'Y' %}</p>

{% endblock %}
