{% extends 'base_accounts.html' %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block content %}
<form action="{% url 'accounts:reset_password' %}" method="post">
  {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal">Password Reset</h1>
  <div class="form-floating">
    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
    <label for="floatingInput">Email address</label>
  </div>
  <button class="w-100 btn btn-lg btn-secondary" type="submit">Confirm</button>
  <p class="white mb-0">
    <br>If you are remember your password, please
    <a href="{% url 'accounts:login' %}" class="white">sign in</a>.
  </p>
</form>

<p class="mt-5 mb-3 text-muted">&copy; {% now 'Y' %}</p>

{% endblock %}
