{% extends 'base.html' %}

{% block title %}<title>{{ user.get_username }}</title>{% endblock %}

{% block content %}
<h2>{{ user.get_username }}</h2>
<form action="{% url 'accounts:profile' %}" method="post">
  {% csrf_token %}
  <div class="input-group">
    <span class="input-group-text">First and last name</span>
    <input type="text" aria-label="First name" name="first_name" value="{{ form.first_name.value }}" class="form-control">
    <input type="text" aria-label="Last name" name="last_name" value="{{ form.last_name.value }}" class="form-control">
  </div>
  <div class="form-floating">
    <input type="username" name="username" class="form-control" value="{{ form.username.value }}" id="floatingInput1" placeholder="Username" required>
    <label for="floatingInput1">Username</label>
  </div>
  <div class="form-floating">
    <input type="email" name="email" class="form-control" value="{{ form.email.value }}" id="floatingInput2" placeholder="Email" required>
    <label for="floatingInput2">E-mail</label>
  </div>
  <button class="w-100 btn btn-lg btn-secondary" type="submit">Save</button>
</form>

{% endblock %}
