{% extends 'base_accounts.html' %}

{% block title %}<title>Sign Up</title>{% endblock %}

{% block content %}

<form action="{% url 'accounts:register' %}" method="post">
  {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
  <div class="form-floating">
    <input type="username" name="username" class="form-control" id="floatingInput1" placeholder="Username" required>
    <label for="floatingInput1">Username</label>
  </div>
  <div class="form-floating">
    <input type="email" name="email" class="form-control" id="floatingInput2" placeholder="Email address" required>
    <label for="floatingInput2">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" name="password1" class="form-control" id="floatingPassword1" placeholder="Password" required>
    <label for="floatingPassword1">Password</label>
  </div>
  <div class="form-floating">
    <input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Password confirmation" required>
    <label for="floatingPassword2">Password confirmation</label>
  </div>
  <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign Up</button>
  <p class="white mb-0">
    <br>If you are a member, please
    <a href="{% url 'accounts:login' %}" class="white">sign in</a>.
  </p>
</form>

<p class="mt-5 mb-3 text-muted">&copy; {% now 'Y' %}</p>

{% endblock %}
