<table class="table table-striped table-sm">
  <thead>
    <tr>
      {% for head in headers %}
        <th scope="col">{{ head }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for item in data %}
    <tr>
      <td>{{item.unique_account_identifier}}</td>
      <td>{{item.activity_period|date:'Y-m'}}</td>
      <td>{{item.sales_channel}}</td>
      <td>{{item.marketplace}}</td>
      <td>{{item.program_type}}</td>
      <td>{{item.transaction_type}}</td>
      <td>{{item.transaction_event_id}}</td>
      <td>{{item.activity_transaction_id}}</td>
      <td>{{item.tax_calculation_date|date:'Y-m-d'}}</td>
      <td>{{item.transaction_depart_date|date:'Y-m-d'}}</td>
      <td>{{item.transaction_arrival_date|date:'Y-m-d'}}</td>
      <td>{{item.transaction_complete_date|date:'Y-m-d'}}</td>
      <td>{{item.seller_sku}}</td>
      <td>{{item.asin}}</td>
      <td class="truncate-text">{{item.item_description}}</td>
      <td>{{item.item_manufacture_country}}</td>
      <td>{{item.qty}}</td>
      <td>{{item.total_activity_weight}}</td>
      <td>{{item.cost_price_of_items}}</td>
      <td>{{item.price_of_items_amt_vat_excl}}</td>
      <td>{{item.promo_price_of_items_amt_vat_excl}}</td>
      <td>{{item.total_price_of_items_amt_vat_excl}}</td>
      <td>{{item.ship_charge_amt_vat_excl}}</td>
      <td>{{item.promo_ship_charge_amt_vat_excl}}</td>
      <td>{{item.total_ship_charge_amt_vat_excl}}</td>
      <td>{{item.gift_wrap_amt_vat_excl}}</td>
      <td>{{item.promo_gift_wrap_amt_vat_excl}}</td>
      <td>{{item.total_gift_wrap_amt_vat_excl}}</td>
      <td>{{item.total_activity_value_amt_vat_excl}}</td>
      <td>{{item.price_of_items_vat_rate_percent}}</td>
      <td>{{item.price_of_items_vat_amt}}</td>
      <td>{{item.promo_price_of_items_vat_amt}}</td>
      <td>{{item.total_price_of_items_vat_amt}}</td>
      <td>{{item.ship_charge_vat_rate_percent}}</td>
      <td>{{item.ship_charge_vat_amt}}</td>
      <td>{{item.promo_ship_charge_vat_amt}}</td>
      <td>{{item.total_ship_charge_vat_amt}}</td>
      <td>{{item.gift_wrap_vat_rate_percent}}</td>
      <td>{{item.gift_wrap_vat_amt}}</td>
      <td>{{item.promo_gift_wrap_vat_amt}}</td>
      <td>{{item.total_gift_wrap_vat_amt}}</td>
      <td>{{item.total_activity_value_vat_amt}}</td>
      <td>{{item.price_of_items_amt_vat_incl}}</td>
      <td>{{item.promo_price_of_items_amt_vat_incl}}</td>
      <td>{{item.total_price_of_items_amt_vat_incl}}</td>
      <td>{{item.ship_charge_amt_vat_incl}}</td>
      <td>{{item.promo_ship_charge_amt_vat_incl}}</td>
      <td>{{item.total_ship_charge_amt_vat_incl}}</td>
      <td>{{item.gift_wrap_amt_vat_incl}}</td>
      <td>{{item.promo_gift_wrap_amt_vat_incl}}</td>
      <td>{{item.total_gift_wrap_amt_vat_incl}}</td>
      <td>{{item.total_activity_value_amt_vat_incl}}</td>
      <td>{{item.transaction_currency_code}}</td>
      <td>{{item.commodity_code}}</td>
      <td>{{item.statistical_code_depart}}</td>
      <td>{{item.statistical_code_arrival}}</td>
      <td>{{item.commodity_code_supplementary_unit}}</td>
      <td>{{item.item_qty_supplementary_unit}}</td>
      <td>{{item.total_activity_supplementary_unit}}</td>
      <td>{{item.product_tax_code}}</td>
      <td>{{item.depature_city}}</td>
      <td>{{item.departure_country}}</td>
      <td>{{item.departure_post_code}}</td>
      <td>{{item.arrival_city}}</td>
      <td>{{item.arrival_country}}</td>
      <td>{{item.arrival_post_code}}</td>
      <td>{{item.sale_depart_country}}</td>
      <td>{{item.sale_arrival_country}}</td>
      <td>{{item.transportation_mode}}</td>
      <td>{{item.delivery_conditions}}</td>
      <td>{{item.seller_depart_vat_number_country}}</td>
      <td>{{item.seller_depart_country_vat_number}}</td>
      <td>{{item.seller_arrival_vat_number_country}}</td>
      <td>{{item.seller_arrival_country_vat_number}}</td>
      <td>{{item.transaction_seller_vat_number_country}}</td>
      <td>{{item.transaction_seller_vat_number}}</td>
      <td>{{item.buyer_vat_number_country}}</td>
      <td>{{item.buyer_vat_number}}</td>
      <td>{{item.vat_calculation_imputation_country}}</td>
      <td>{{item.taxable_jurisdiction}}</td>
      <td>{{item.taxable_jurisdiction_level}}</td>
      <td>{{item.vat_inv_number}}</td>
      <td>{{item.vat_inv_converted_amt}}</td>
      <td>{{item.vat_inv_currency_code}}</td>
      <td>{{item.vat_inv_exchange_rate}}</td>
      <td>{{item.vat_inv_exchange_rate_date}}</td>
      <td>{{item.export_outside_eu}}</td>
      <td>{{item.invoice_url}}</td>
      <td>{{item.buyer_name}}</td>
      <td>{{item.arrival_address}}</td>
      <td>{{item.supplier_name}}</td>
      <td>{{item.supplier_vat_number}}</td>
      <td>{{item.tax_reporting_scheme}}</td>
      <td>{{item.tax_collection_responsibility}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>