<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Simple2B">
  {% block title %}{% endblock %}
  <link href="{% static 'bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/signin.css' %}" rel="stylesheet">
</head>
<body class="text-center">
  <div class="position-absolute top-0 start-0 d-inline-block w-100 m-auto p-3">
    {% include 'common/field_errors.html' %}
  </div>
  <main class="form-signin w-100 m-auto">
    {% block content %}{% endblock %}
  </main>
  {% block scripts %}{% endblock %}
</body>

</html>
